services:
  loms:
    name: "loms"
    port: ":8081"
    prometheusPort: ":8071"
  cancelOrderDaemon:
    workersCount: 5
    cancelOrderTimeInMinutes: 1
  lomsPgBouncer:
    host: "pgbouncer-loms"
    port: "6432"
    userDB: "user"
    passwordDB: "password"
    nameDB: "loms"
  kafka:
    workersCount: 5
    topicForOrders: "orders"
    brokers:
      - "kafka1:29091"
      - "kafka2:29092"
      - "kafka3:29094"