services:
  loms:
    port: ""
  cancelOrderDaemon:
    workersCount: 
    cancelOrderTimeInMinutes:     
  lomsPgBouncer:
    host: ""
    port: ""
    userDB: ""
    passwordDB: ""
    nameDB: ""
  kafka:
    workersCount: 
    topicForOrders: ""
    brokers:
      - ""
      - ""
      - ""