services:
  loms:
    address: ""
  productService:
    address: ""
    token: ""
    listCartWorkersCount: 
    rateLimit: 
  checkout:
    name: ""
    httpPort: ""
    grpcPort: ""
    prometheusPort: ""
  checkoutPgBouncer:
    host: ""
    port: ""
    userDB: ""
    passwordDB: ""
    nameDB: ""