services:
  loms:
    address: "loms:8081"
  productService:
    address: "route256.pavl.uk:8082"
    token: "testtoken"
    listCartWorkersCount: 5
    rateLimit: 5
    cacheCapacity: 10
    cacheTTLInSeconds: 30
  checkout:
    name: "checkout"
    httpPort: ":8090"
    grpcPort: ":8080"
    prometheusPort: ":8070"
  checkoutPgBouncer:
    host: "pgbouncer-checkout"
    port: "6433"
    userDB: "user"
    passwordDB: "password"
    nameDB: "checkout"